@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply this class to the container */
  .scroll-animation {
    white-space: pre-line;
    height: 195px;
    display: block;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(20px); /* Initial translateY for the fade-in effect */
    animation: none; /* Initial animation state */
  }
  
  /* Add animation when the container is visible */
  .scroll-animation.visible {
    animation: fadeInUp 1s forwards;
  }
  